{% extends "events/base.html" %}
{% block content %}
    
    <form method="get">
        {{ filter_form.as_p }}
        <button type="submit">Filter</button>
    </form>
    
    <h2>Event List</h2>
    <ul>
        {% for event in events %}
            <li>
                <h3>{{ event.title }}</h3>
                <p>{{ event.description }}<p>
                <p>Participants:{{ event.total_participants }}</p>
                <p>Start Date:{{ event.start_date }}</p>
                <p>End Date:{{ event.end_date }}</p>
                {% if event.title %}
                    <a href="{% url 'event_update' event.id %}">Edit</a> |
                    <a href="{% url 'event_delete' event.id %}">Delete</a>
                {% else %}
                    <span>Edit</span>
                    <span>Delete</span>
                {% endif %}
                </li>
        {% endfor %}
    </ul>
{% endblock %}
