{% extends 'events/base.html' %}
{% block title %} Event List{% endblock %}

{% block content %}
    <h2>Event List</h2>
    <ul>
        {% for event in events %}
            <li>
                <h3>{{ event.title }}</h3>
                <p>{{ event.description }}<p>
                <p>Participants:{{ event.total_participants }}</p>
                <p>Start Date:{{ event.start_date }}</p>
                <p>End Date:{{ event.end_date }}</p>
                {% if event.title %}
                    <a href="{% url 'event_update' event.title %}">Edit</a>
                    <a href="{% url 'event_delete' event.title %}">Delete</a>
                {% else %}
                    <span>Edit</span> 
                    <span>Delete</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
